<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script type="text/javascript" src="/public/javascripts/tasks_script.js"></script>
        <title>Your tasks</title>
    </head>      

    <body>
        <div style="font-size:32px">ToDo Lists
			<button id="all" class="tasks_buttons">Všechny úkoly</button>
			<button id="notfinished" class="tasks_buttons">Nedokončené úkoly</button>
			<button id="finished" class="tasks_buttons">Dokončené úkoly</button>
		</div>
		<div>
			<form action="./jsonall" method="GET">
				<button id="jsonall" class="jsons">Všechny úkoly JSON</button>
			</form>	
			<form action="./jsonnotfinished" method="GET">	
				<button action="./jsonnotfinished" id="jsonnotfinished" class="jsons">Nedokončené úkoly JSON</button>
			</form>	
			<form action="./jsonfinished" method="GET">
				<button action="./jsonfinished" id="jsonfinished" class="jsons">Dokončené úkoly JSON</button>
			</form>
		</div>
		<form id="addupdateform">
            <label for="title">Nadpis úkolu:</label>
            <input type="text" name="title" id="title" required autofocus><br />
            <label for="content">Popis úkolu:</label>
            <input type="content" name="content" id="content" required><br />
			<button formmethod="POST" formaction="./add/" name="user" value="<%= userid %>" role="button">Přidej úkol</button> 
		</form>
        <ul style="list-style-type:none;">
			<% for(let i = 0; i < Tasks.length; i++) { %>
                <li style="margin: 10px; padding: 5px; height: 150px; width: 700px; border: solid 1px black; background-color: <%= Tasks[i].done ? bc = "#8f8" : bc = "#f88" %>">
				<div style="font-size:24px"><%= Tasks[i].title %></div>
                <div style="margin-top: -10px; float: right">
					<form>
						<button formmethod="POST" formaction="./finish/" name="fin_id" value="<%= Tasks[i]._id %>" role="button">Splnit</button>            
					</form><br />
					<form>
						<button formmethod="POST" form="addupdateform" formaction="./update/" name="upd_id" value="<%= Tasks[i]._id %>" role="button">Změnit</button>
					</form><br />
					<form>
						<button formmethod="POST" formaction="./delete/" name="del_id" value="<%= Tasks[i]._id %>" role="button">Odebrat</button> 
					</form>
				</div>
                <div style="font-size:14px"><%= Tasks[i].content %></div>
                </li>
            <% } %>
		</ul>
		<form>
			<button formmethod="GET" formaction="./logout/" role="button">Odhlásit se</button> 
		</form>
	</body>
</html>